BeautifulSoup==3.2.1
Cheetah==2.4.4
CherryPy==3.2.2
Flask==0.10.1
Jinja2==2.7.1
Markdown==2.3.1
MarkupSafe==0.18
MySQL-python==1.2.3
PyRSS2Gen==1.0.0
SQLAlchemy==0.7.7
Twisted==12.0.0
Werkzeug==0.9.4
altgraph==0.9
bdist-mpkg==0.4.4
beautifulsoup4==4.1.3
bonjour-py==0.3
itsdangerous==0.23
macholib==1.4.2
matplotlib==1.2.0
modulegraph==0.9.1
nose==1.2.1
numpy==1.6.1
patsy==0.1.0
pika==0.9.8
procname==0.3
protobuf==2.5.0
py2app==0.6.3
pyOpenSSL==0.13
pygame==1.9.1release
pymongo==2.6.2
python-dateutil==1.5
pytz==2012h
pyzmq==2.2.0.1
readline==6.2.4.1
requests==0.13.2
rethinkdb==1.9.0-1
six==1.2.0
stripe==1.7.9
tornado==2.4.1
vboxapi==1.0
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
