html{ 
	height: 100%; 
	margin: 0; 
	padding: 0;
}
body{ 
	height: 100%;
	margin: 0; 
	padding: 0;
}
#map-canvas{ 
	width: 100%; 
	height: 100% !important; 
	margin: 0; 
	padding: 0;
	z-index: 100;;
	background: transparent url('images/484.gif') no-repeat center center;
}

.map-overlay{
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -275px;
	z-index: 10000;
}

.box-shadow{
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0)
}

#map-search{
	position: absolute;
	outline: none;
	width: 500px;
	height: 35px;
	font-size: 18px;
	display: inline;
	margin-right: 0;
	padding-right: 0;
	border: none;
	vertical-align: top;
	outline: none;
}

#more{
	position: absolute;
	left: 500px;
	width: 50px;
	height: 37px;
	background-color: rgb(57,56,67);
	background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed)
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
	color: white;
	border: none;
}

#more div{
	position: absolute;
	left: 50%;
	margin-left: -20%;
	top: 50%;
	margin-top: -20%;
	cursor: pointer;
}

.items {
	max-width: 100px;
}

#map-filter {
	position: absolute;
	top: 37px;
	height: 100px;
	width: 550px;
	display: none;
	background-color: white;
	z-index: 10000;
}

@media (max-width: 550px){
	.map-overlay{;
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
	}
	#map-search{
		width:90%;
		margin: 0;
		left: 0;
	}

	#more{
		width:10%;
		left: 90%;
	}
}