html{ 
	height: 100%; 
	margin: 0; 
	padding: 0;
}
body{ 
	height: 100%;
	margin: 0; 
	padding: 0;
}
#map-canvas{ 
	width: 100%; 
	height: 100% !important; 
	margin: 0; 
	padding: 0;
	z-index: 100;;
	background: transparent url('images/484.gif') no-repeat center center;
}

.map-overlay{
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -275px;
	z-index: 10000;
}

#map-search{
	position: absolute;
	outline: none;
	width: 500px;
	height: 35px;
	font-size: 18px;
	display: inline;
	margin-right: 0;
	padding-right: 0;
	border: none;
	vertical-align: top;
	outline: none;
}

#more{
	position: absolute;
	left: 500px;
	width: 50px;
	height: 37px;
	background-color: rgb(57,56,67);
	background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed)
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
	color: white;
	border: none;
	cursor: pointer;
}

#more div{
	position: absolute;
	left: 50%;
	margin-left: -20%;
	top: 50%;
	margin-top: -20%;
	cursor: pointer;
}

.box-shadow{
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0)
}

#trucks{
	width: 550px;
	height: 80%;
	position: absolute;
	max-width: 600px;
	top: -80%;
	left: 50%;
	margin-left: -275px;
	z-index: 1000;
	background-color: white;
	overflow-x: hidden;
	overflow: scroll;

	transition: all 1.0s ease;
	-webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	-o-transition: all 1.0s ease;
}

#trucks.show{
	top: 10%;
}

#truck-list {
	margin: 0;
	list-style: none;
	padding: 0;
	width: 100%;
}

#filter-bar {
	width: 100%;
	height: 60px;
	background-color: rgb(57,56,67);
}

#filter-bar input {
	margin: 10px;
	height: 30px;
	width: 95%;
	font-size: 18px;
}

#truck-list li {
	cursor: pointer;
	width: 100%;
	position: relative;
  	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  	border-bottom: 1px solid #ccc;
}

#truck-list div{
	cursor: pointer;
	overflow-x: hidden;
  padding: 0 10px;
  text-decoration: none;
  color: #000;
  display: block;
  width: 95%;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#truck-list div:hover{
  	font-size: 30px;
  	background: #f6f6f6;
}

#truck-list li label {
	padding: 0 10px;
}

#truck-list li label span {
	position: absolute;
	right: 10px;
}

.items {
	max-width: 100px;
}

#map-filter {
	position: absolute;
	top: 37px;
	height: 100px;
	width: 550px;
	display: none;
	background-color: white;
	z-index: 10000;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 1.2em;
  height: 0.15em;
  background: white;
  box-shadow: 
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
}

@media (max-width: 550px){
	.map-overlay{
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
	}
	#map-search{
		width:90%;
		margin: 0;
		left: 0;
	}

	#more{
		width:10%;
		left: 90%;
	}

	#trucks{
		width: 100%;
		left: 0;
		margin: 0;
	}
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
	#more{
		height: 43px;
	}

	#map-filter {
		top: 43px;
	}
}