html{ 
	height: 100%; 
	margin: 0; 
	padding: 0;
}
body{ 
	height: 100%;
	margin: 0; 
	padding: 0;
}
#map-canvas{ 
	width: 100%; 
	height: 100% !important; 
	margin: 0; 
	padding: 0;
	z-index: 100;
}
.map-overlay{
	position: absolute;
	top: 20px;
	left: 5%;
	width: 90%;
	background: white;
	height: 50px;
	z-index: 10000;

	border: 1px solid #ebebeb;
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.025);

	border-radius: 7px;
}
#map-search{
	position: absolute;
	width: 92%;
	height: 96%;
	right: 0;
	border:2px solid #dadada;
    border-radius:7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 40px;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,.25);
}

#search-icon{
	position: absolute;
	width:7%;
	height: 100%;
	left: 0;
	background: url('images/one-six.png') no-repeat center;
	border:2px solid #dadada;
    border-radius:7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}