<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Food Truck Locator</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='icons.css')}}">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='jquery-ui.min.css')}}">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	</head>

	<body>
		<div id="map-canvas">
			<div class="map-overlay">
				<input class="box-shadow" type="text" id="map-search" placeholder="Location"/>
				<div id="more" class="box-shadow"><div id="morebtn" class="icon-plus-2"></div></div>
				<div class="box-shadow" id="map-filter"></div>
			</div>
		</div>

		<div id="trucks" class="box-shadow">
			<ul id="truck-list"></ul>
		</div>

	  	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&libraries=places" style=""></script>
		<script src="{{url_for('static', filename='js/json2.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/underscore.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/backbone-min.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/trucks.js')}}"></script>

	  	  <script type="text/template" id="truck-template">
		    <div class="view">
		      <label><%= obj.applicant %><span><%= dis %></label>
		      <input type="hidden" value="<%= obj.objectid %>"/>
		    </div>
		  </script>
	</body>

</html>