<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Food Truck Locator</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='jquery-ui.min.css')}}">
	</head>

	<body>
		<div id="map-canvas">
			<div class="map-overlay">
				<div id="search-icon"></div>
				<input type="text" id="map-search" placeholder="Search"/>
			</div>	
		</div>

	  	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&libraries=places" style=""></script>
		<script src="{{url_for('static', filename='js/json2.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/underscore.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/backbone-min.js')}}"></script>
	  	<script src="{{url_for('static', filename='js/trucks.js')}}"></script>
	</body>

</html>